* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #003b70;
  font-family: Arial, sans-serif;
}


header {
  background: #003b70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  color: white;
}

.logo img {
  height: 30px;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("https://i.pravatar.cc/100?img=12") center/cover;
}

.titulo {
  font-size: 60px;
  color: #0c3f68;
  margin-bottom: 30px;
  margin: 30px;
  
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}


.card {
  text-align: center;
}

.card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card span {
  color: #1f5fd1;
  font-weight: bold;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  background: #ddd;
  padding: 10px;
}




.desativado h2 {
  color: #000;
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .titulo {
    font-size: 40px;
    text-align: center;
  }

  nav {
    gap: 15px;
    font-size: 13px;
  }

}


/* ================= CELULAR ================= */
@media (max-width: 600px) {

  
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    gap: 10px;
  }

 
  .titulo {
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
  }

  
  .grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  
  .card {
    width: 100%;
  }

  .card h2 {
    font-size: 18px;
  }

  .card img {
    width: 140px;
    height: 140px;
  }

}